<nav class="navbar sticky-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="/listings">
            <i class="fa-brands fa-airbnb"></i> Wanderlust
        </a>
        
        <div class="nav-center" style="flex: 1; text-align: center;">
            <a class="nav-link" href="/listings">
                <i class="fa-solid fa-compass"></i> Explore
            </a>
        </div>
        
        <div class="nav-right d-flex gap-3">
            <% if(!currUser){ %>
                <a class="nav-link" href="/signup">Sign Up</a>
                <a class="nav-link" href="/login"><b>Log in</b></a>
            <% } %>
            <% if(currUser){ %>
                <a class="nav-link" href="/listings/new">
                    <i class="fa-solid fa-plus"></i> Become a Host
                </a>
                <a class="nav-link" href="/logout">Log Out</a>
            <% } %>
        </div>
    </div>
</nav>